{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Themes" "psy-theme-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="btn btn-link">
                <a href="{% url 'psy-theme-create'%}">Add theme</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Themes list
        </div>
        <div class="card-body">
            {% for t in themes %}
                <div class="row">
                    <div class="col-4">
                        <p>
                            <a href="{% url 'psy-theme-update' t.id %}">{{ t.name }}</a>
                        </p>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'psy-theme-delete' t.id %}" class="non-color-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}