{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cities" "city-list" %}
{% endblock %}

{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="btn btn-link">
               <a href="{% url 'city-create'%}">Add city</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Cities list
        </div>
        <div class="card-body">
            {% for c in cities %}
                <div class="row">
                    <div class="col-4">
                        <p>
                            <a href="{% url 'city-update' c.id %}">{{ c.name }}</a>
                        </p>
                    </div>
                    {% if c.can_delete %}
                        <div class="col-1">
                            <a href="{% url 'city-delete' c.id %}" class="non-color-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}