{% extends "cadmin/locations/city_list.html" %}

{% load crispy_forms_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for city-update city.id %}
        {{ city.name }}
    {% endbreadcrumb_for %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="card">
        <div class="card-header">
            Update city
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Save" />
            </form>

        </div>
    </div>
</div>
{% endblock content %}