{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Countries" "country-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="button">
               <a href="{% url 'country-create'%}">Add country</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Countries list
        </div>
        <div class="card-body">
            {% for c in countries %}
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <p><a href="{% url 'city-update' c.id %}">{{ c.name }}</a></p>
                    </div>
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'city-delete' c.id %}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}