{% extends "cadmin/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Home" "admin-main" %}
{% endblock %}

{% block content %}
<div class="container">

    {% render_breadcrumbs %}

     <div class="card">
        <div class="card-header">
            Help Requests
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'help-request-list' %}">Requests</a></p></div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            Locations
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'country-list' %}">Countries</a></p></div>
                <div class="col-1">
                    <a href="{% url 'country-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'city-list' %}">Cities</a></p></div>
                <div class="col-1">
                    <a href="{% url 'city-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header">
            Psychologists
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-list' %}">Psychologists users</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-user-profile-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Psychologists related models
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-status-list' %}">Statuses</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-status-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-approach-list' %}">Approaches</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-approach-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-specialization-list' %}">Specializations</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-specialization-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-format-list' %}">Formats</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-format-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-theme-list' %}">Themes</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-theme-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-education-list' %}">Educations</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-education-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-secondary-education-list' %}">Secondary educations</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-specialization-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"> <p><a href="{% url 'psy-language-list' %}">Languages</a></p></div>
                <div class="col-1">
                    <a href="{% url 'psy-language-create'%}" class="non-color-link">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}