{% extends "cadmin/base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Delete user
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <h1>Do you want to delete the user "{{ user.profile.name }}"?</h1>
                <p><input type="submit" value="Yes" /> <a href="{% url 'psy-list' %}">Cancel</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}