{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Educations" "psy-education-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="button">
                <a href="{% url 'psy-education-create'%}">Add education</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Educations list
        </div>
        <div class="card-body">
            {% for e in educations %}
                <div class="row">
                    <div class="col-4">
                        <p>
                            <a href="{% url 'psy-education-update' e.id %}">{{ e.name }}</a>
                        </p>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'psy-education-delete' e.id %}" class="non-color-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}