{% load crispy_forms_tags %}


<div class="modal-header">
  <h4 class="modal-title">Update the {{instance_name}}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {% with 'psy-'|add:instance_name|add:'-update-dynamic' as current_url %}
  <form method="post" action='{% url current_url form.instance.pk %}' class="{{instance_name}}-update-form">
  {% endwith %}
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>