{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Languages" "psy-language-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="button">
                <a href="{% url 'psy-language-create'%}">Add language</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Languages list
        </div>
        <div class="card-body">
            {% for l in languages %}
                <div class="row">
                    <div class="col-4">
                        <p>
                            <a href="{% url 'psy-language-update' l.id %}">{{ l.name }}</a>
                        </p>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'psy-language-delete' l.id %}" class="non-color-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}