{% extends "cadmin/index.html" %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-end">
            <button type="button" class="button">
                <a href="{% url 'psy-theme-create'%}">Add Theme</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Themes list
        </div>
        {% for t in themes %}
            <div class="d-flex flex-row bd-highlight mb-1">
                  <p>{{ t.name }}</p>c
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}