{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Psychologists" "psy-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="button">
               <a href="{% url 'psy-user-profile-create'%}">Add Psychologist</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Psychologists list
        </div>
        <div class="card-body">
            {% for psy in psychologists %}
                <div class="d-flex flex-row bd-highlight mb-1">
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'psy-user-profile-update' psy.id %}"><p>{{ psy.username }}</p></a>
                    </div>
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'user-delete' psy.id %}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}