{% extends "cadmin/psychologists/psy_status_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb_for psy-status-update status.id %}
            {{ status.name }}
        {% endbreadcrumb_for %}
{% endblock %}


{% block content %}
<div class="container">
    
    {% render_breadcrumbs %}
    
    <div class="card">
        <div class="card-header">
            Update status
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>

        </div>
    </div>
</div>
{% endblock content %}