{% extends "cadmin/psychologists/psy_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb_for psy-user-profile-update user.id %}
            {{ user.email }}
        {% endbreadcrumb_for %}
{% endblock %}



{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="card">
        <div class="card-header">
            Update psychologist user
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}

                {{ profile.management_form }}

                {% for form in profile.forms %}
                    {{ form.as_p }}
                {% endfor %}
                <input type="submit" value="Save" />
            </form>

        </div>
    </div>
</div>
{% endblock content %}