{% extends "cadmin/index.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Educations" "psy-education-list" %}
{% endblock %}


{% block content %}
<div class="container">

    {% render_breadcrumbs %}

    <div class="row justify-content-md-end">
            <button type="button" class="button">
                <a href="{% url 'psy-education-create'%}">Add Education</a>
            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Educations list
        </div>
        <div class="card-body">
            {% for e in educations %}
                <div class="d-flex flex-row bd-highlight mb-1">
                      <p>{{ e.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}