{% load crispy_forms_tags %}


{% with 'psy-'|add:instance_name|add:'-delete-dynamic' as current_url %}
<form method="post" action='{% url current_url instance.pk %}' class="{{instance_name}}-delete-form">
{% endwith %}
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Delete the {{instance_name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Do you want to delete the {{ instance_name }} "{{ instance.name }}?"
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Delete</button>
  </div>
</form>