{% extends "cadmin/index.html" %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-end">
            <button type="button" class="button">

            </button>
    </div>
    <div class="card">
        <div class="card-header">
            Secondary educations list
        </div>
        {% for se in secondary_educations %}
            <div class="d-flex flex-row bd-highlight mb-1">
                 <p>{{ se.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}